{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set typeTitles = {info:'享客应用提示信息!', warning:'享客应用警告信息!', error: '享客应用错误提示!'} %}

{% set title = title|default(typeTitles[type]) %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
 {#  class="page-message-container" #}
 <div id="page-message-container" data-goto="{{ goto }}" data-duration={{ duration }}>
  <div class="page-message-panel"  style="min-height:400px;">
    <div class="page-message-body">{{ message|default('') }}</div>
  </div>
</div>


{% endblock %}

{% block footer %}
  <button class="btn btn-primary" type="button" data-dismiss="modal">关闭</button>
{% endblock %}