{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'test' %}

{% block content %}

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btnsxxx">
        <div id="pickera" class="btn btn-sm btn-default webuploader-container"><span class="glyphicon glyphicon-picture"></span></div>
        <div id="pickerb" class="btn btn-sm btn-default webuploader-container"><span class="glyphicon glyphicon-picture"></span></div>
        <div id="pickerc" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-picture"></span></div>
        
    </div>
</div>



{% endblock %}