<table class="picked-items">
{% include 'TopxiaWebBundle:ProductTestpaperManage:item-tr.html.twig' %}
{% for question in subQuestions %}
  {% include 'TopxiaWebBundle:ProductTestpaperManage:item-tr.html.twig' %}
{% endfor %}
</table>