{% extends "layout.html.twig" %}

{% block main %}

<pre class="agreement">
版权所有 (c) 2011-2014，中国.南京凯之渡信息技术有限公司

保留所有权利。

感谢您选择 MeBUS 移动商务套件。希望我们的努力能为您提供一个高效快速和强大的移动应用解决方案。

MeBUS ，中文全称为 移动商务套件，以下简称 MeBUS。

使用者：无论个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用 MeBUS 软件。

本授权协议适用且仅适用于 MeBUS 版本，中国.南京凯之渡信息技术有限公司拥有对本授权协议的最终解释权。

<strong>I 协议许可的权利</strong>

  1. 您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。
  2. 您可以在协议规定的约束和限制范围内修改 MeBUS 源代码(如果被提供的话)或界面风格以适应您的网站要求。
  3. 您拥有使用本软件构建的移动商务网站中全部用户资料、产品及相关信息的所有权，并独立承担与前述信息的相关法律义务。
  4. 获得商业授权之后，您可以将本软件应用于商业用途，同时依据所购买的授权类型中确定的技术支持期限、技术支持方式和技术支持内容，自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。

<strong>Ⅱ 协议规定的约束和限制</strong>

  1. 未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目或实现盈利的网站）。
  2. 不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。

            </pre>

<div class="actions">
	<a href="start-install.php?step=1" class="btn btn-primary">同意协议，并开始安装！</a>
</div>

{% endblock %}